{% extends "base.html" %}
{% block stylesheets %}
  <link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/index.css'|staticurl }}" />
{% endblock %}
{% block scripts %}
  <script src="http://api.map.baidu.com/api?v=1.5&ak=84901b49cdd30d61000a6850331903f6" type="text/javascript"></script>
  <script src="{{ '/static/js/lib/map/EventWrapper.js'|staticurl }}"></script>
  <script src="{{ '/static/js/apps/index.js'|staticurl }}"></script>
{% endblock %}
{% block mainbody %}
<div class="center clearfix">
  <div id="container" style="width:600px;height:500px;"></div>
  <div id="map" style="width:500px;height:320px"></div>
  <div id="result" style="width:300px;height:400px;position:absolute;top:60px;left:870px;overflow:auto">
    <h3>事件：</h3>
    <p id="event-list"></p>
  </div>
</div>
{% endblock %}
